.zakirWrapper {
  input, select, textarea {
    width: 95%;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #D8D8D9;
    margin-top: 10px;
  }

  .col-6 {
    padding: 20px 0;
  }
}