#securityMenu {
  min-height: 100vh;
  height: 100%;

  .icon {
    font-size: 18px;
  }

  .ant-layout-header {
    height: 80px;
    align-items: center;
  }

  .ant-layout-content {
    padding: 0 !important;
  }

  .img {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;

    span {
      margin: 10px 0;
      font-weight: 600;
    }

    img {
      margin-top: 50px;
      height: 100%;
    }

    &.collapsed {
      margin: 0;

      img {
        height: 60%;
      }
    }
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      margin-top: 25px;
      border-radius: 50%;
    }

    span {
      padding-right: 20px;
      font-weight: bold;
      font-size: 18px;
      color: #004879;

      span {
        padding-right: 0;
        color: #D7B56D;
      }
    }

    button {
      font-size: 20px;
      border: none;
      outline: none;
      color: white;
      background-color: red;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .wrapper {
    padding: 24px;

    .box {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 20px;
      margin-top: 0px;

      label {
        max-width: 180px;
        width: 100%;
      }

      .input {
        max-width: 600px;
        width: 100%;
      }
    }
  }

  .wrapper1 {
    padding: 24px;
  }

  select {
    height: 40px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #d3d3d3;
    background-color: #FAFAFA;
    border-radius: 10px;
  }

  form {

    .buttonSave {
      padding: 0 20px;
    }

    .box {

      display: flex;
      justify-content: space-between;
      gap: 5px;

      .box1 {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }
}