.scpBtn {
  background-color: #459F3B;
  padding: 10px 20px;
  outline: none;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  width: 125px;

  &:hover {
    background-color: #7a7a7a;
  }
}

.yelBtn {
  background-color: #D7B56D;
}

.reBtn {
  background-color: #F70E0D;
}


.wrapperWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  .filter-section {
    input {
      border: 1px solid #979595;
      padding: 5px 20px;
      border-radius: 10px;
      margin-left: 20px;
    }
  }
}