.buttonActionsForBuildingsTable {
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  background-color: #FAB105;
  border-radius: 10px;
  font-size: 16px;

  &:hover {
    background-color: #d89c06;
  }
}

.buttonActionsForBuildingsTableDelete {
  background-color: #F70E0D;

  &:hover {
    background-color: #1677FF;
  }
}
