@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Maven Pro', sans-serif !important;
    transition: all .4s ease;
}

a, button {
    cursor: pointer;
}

tr, th, td, thead {
    text-align: center !important;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.container1 {
    max-width: 1240px;
    margin: 0 auto;
}

.container2 {
    max-width: 1000px;
    margin: 0 auto;
}

.container3 {
    max-width: 1500px;
    margin: 0 auto;
}

.ant-menu {
    margin-top: 50px;
}

.ant-table-wrapper {
    overflow-x: auto;
}

body {
    scrollbar-color: #f4f4f4 white;
}

@media screen and (max-width: 992px) {
    #loginPage {
        .col1 {
            display: none;
        }

        .col2 {
            .wrapper {
                padding-top: 120px;
            }
        }
    }

    /*#leftMenu {*/
    /*    .ant-layout-sider {*/
    /*        display: none;*/
    /*    }*/
    /*    .ant-layout {*/
    /*        margin-left: 0 !important;*/
    /*    }*/
    /*    .ant-btn-icon {*/
    /*        display: none;*/
    /*    }*/
    /*    .img1 {*/
    /*        display: block;*/
    /*    }*/
    /*    .ant-layout-header {*/
    /*        background: #c3edec !important;*/
    /*    }*/
    /*    .ant-layout-content {*/
    /*        margin: 0 !important;*/
    /*    }*/
    /*}*/
}

@media screen and (min-width: 993px) {
    #loginPage {
        .img {
            img {
                display: none;
            }
        }
    }

    /*#leftMenu {*/
    /*    .img1 {*/
    /*        display: none;*/
    /*    }*/
    /*}*/
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: calc(100% / 12 * 1);
    padding: 16px;
}

.col-2 {
    width: calc(100% / 12 * 1.5);
}

.col-3 {
    width: calc(100% / 12 * 3);
    padding: 16px;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 16px;
}

.col-5 {
    width: calc(100% / 12 * 5);
    padding: 16px;
}

.col-6 {
    width: calc(100% / 12 * 6);
    padding: 16px;
}

.col-7 {
    width: calc(100% / 12 * 7);
    padding: 16px;
}

.col-8 {
    width: calc(100% / 12 * 8);
    padding: 16px;
}

.col-9 {
    width: calc(100% / 12 * 9);
    padding: 16px;
}

.col-10 {
    width: calc(100% / 12 * 10);
    padding: 16px;
}

.col-11 {
    width: calc(100% / 12 * 11);
    padding: 16px;
}

.col-12 {
    width: calc(100% / 12 * 12);
    padding: 16px;
}

/* for tablet */
@media screen and (max-width: 992px) and (min-width: 768px) {
    .col-md-1 {
        width: calc(100% / 12 * 1);
        padding: 16px;
    }

    .col-md-2 {
        width: calc(100% / 12 * 2);
        padding: 16px;
    }

    .col-md-3 {
        width: calc(100% / 12 * 3);
        padding: 16px;
    }

    .col-md-4 {
        width: calc(100% / 12 * 4);
        padding: 16px;
    }

    .col-md-5 {
        width: calc(100% / 12 * 5);
        padding: 16px;
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
        padding: 16px;
    }

    .col-md-7 {
        width: calc(100% / 12 * 7);
        padding: 16px;
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
        padding: 16px;
    }

    .col-md-9 {
        width: calc(100% / 12 * 9);
        padding: 16px;
    }

    .col-md-10 {
        width: calc(100% / 12 * 10);
        padding: 16px;
    }

    .col-md-11 {
        width: calc(100% / 12 * 11);
        padding: 16px;
    }

    .col-md-12 {
        width: calc(100% / 12 * 12);
        padding: 16px;
    }
}

/* for large phone */
@media screen and (max-width: 768px) and (min-width: 576px) {
    .col-sm-1 {
        width: calc(100% / 12 * 1);
        padding: 16px;
    }

    .col-sm-2 {
        width: calc(100% / 12 * 2);
        padding: 16px;
    }

    .col-sm-3 {
        width: calc(100% / 12 * 3);
        padding: 16px;
    }

    .col-sm-4 {
        width: calc(100% / 12 * 4);
        padding: 16px;
    }

    .col-sm-5 {
        width: calc(100% / 12 * 5);
        padding: 16px;
    }

    .col-sm-6 {
        width: calc(100% / 12 * 6);
        padding: 16px;
    }

    .col-sm-7 {
        width: calc(100% / 12 * 7);
        padding: 16px;
    }

    .col-sm-8 {
        width: calc(100% / 12 * 8);
        padding: 16px;
    }

    .col-sm-9 {
        width: calc(100% / 12 * 9);
        padding: 16px;
    }

    .col-sm-10 {
        width: calc(100% / 12 * 10);
        padding: 16px;
    }

    .col-sm-11 {
        width: calc(100% / 12 * 11);
        padding: 16px;
    }

    .col-sm-12 {
        width: calc(100% / 12 * 12);
        padding: 16px;
    }
}

/* for small phone */
@media screen and (max-width: 576px) {
    .col-xs-1 {
        width: calc(100% / 12 * 1);
        padding: 16px;
    }

    .col-xs-2 {
        width: calc(100% / 12 * 2);
        padding: 16px;
    }

    .col-xs-3 {
        width: calc(100% / 12 * 3);
        padding: 16px;
    }

    .col-xs-4 {
        width: calc(100% / 12 * 4);
        padding: 16px;
    }

    .col-xs-5 {
        width: calc(100% / 12 * 5);
        padding: 16px;
    }

    .col-xs-6 {
        width: calc(100% / 12 * 6);
        padding: 16px;
    }

    .col-xs-7 {
        width: calc(100% / 12 * 7);
        padding: 16px;
    }

    .col-xs-8 {
        width: calc(100% / 12 * 8);
        padding: 16px;
    }

    .col-xs-9 {
        width: calc(100% / 12 * 9);
        padding: 16px;
    }

    .col-xs-10 {
        width: calc(100% / 12 * 10);
        padding: 16px;
    }

    .col-xs-11 {
        width: calc(100% / 12 * 11);
        padding: 16px;
    }

    .col-xs-12 {
        width: calc(100% / 12 * 12);
        padding: 16px;
    }
}

:where(.css-qnu6hi).ant-layout .ant-layout-sider-children {
    background-color: #252D37;
}

:where(.css-qnu6hi).ant-menu-dark, :where(.css-qnu6hi).ant-menu-dark > .ant-menu {
    background-color: #252D37;
}

:where(.css-qnu6hi).ant-menu-dark .ant-menu-item-selected, :where(.css-qnu6hi).ant-menu-dark > .ant-menu .ant-menu-item-selected {
    background-color: #495464;
}

:where(.css-qnu6hi).ant-layout {
    background-color: #EEF1F4;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-layout .ant-layout-sider-children {
    background-color: #252D37;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-menu-dark, :where(.css-dev-only-do-not-override-qnu6hi).ant-menu-dark > .ant-menu {
    background-color: #252D37;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-qnu6hi).ant-menu-dark > .ant-menu .ant-menu-item-selected {
    background-color: #495464;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-layout.ant-layout-has-sider >.ant-layout, :where(.css-dev-only-do-not-override-qnu6hi).ant-layout.ant-layout-has-sider >.ant-layout-content {
    background-color: #EEF1F4;
}
