#userBanner {
  height: 75vh;
  background-image: url("https://qebulol.az/wp-content/uploads/2023/12/budu.jpg ");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}